{% extends 'blog/template.html' %}

{% block header %}
{{ block.super }}

    <h1>Самая галоуная страница!</h1>

{% endblock header %}

{% block articles %}
<div class="row">
    <div class="col-md-12">
        <h2>
            Сайт создан в учебных целях при прохождении курсов Python/Django от StormNet X_x
        </h2>
        <h3>
            На сайте вы сможете найти самые свежие вчерашние новости,
            честно скопированные с различных новостных сайтов ;) <br />
            <br />
            В отдельном разделе сайта вы сможете познакомиться и вновь обрести веру в Деда Мороза! <br />
            <br />
            Также есть бессмысленный раздел, где вы сможете прочитать своё имя наоборот, узнать из скольки букв
            оно состоит и всякая разная дребедень ;) <br />
            <br />
            Пожалуйста, воспользуйтесь навигационной панелью ниже для передвижения по сайту. <br />
            Вернуться на главную страницу вы всегда сможете кликнув на логотип в верхнем правом углу. <br />
            <br />
            Приятного просмотра ;)
        </h3>
    </div>
</div>

{% endblock articles %}