<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Самы чэсны сайт!</title>
    <style>
        body {background:pink}
        h1 {color:green}
    </style>
</head>
<body>
{% block header %}
<header>
    <div><h1>Самая галоуная страница!</h1></div>
</header>
{% endblock header %}

{% block articles %}
<article>
    <p>Hello, World! Ёпта!</p>
    <div id="choise">
        <ol>
            <li><a href="ded">На страничку Дедушки Мороза!</a></li>
            <li><a href="homework">К домашке!</a></li>
            <li><a href="blog">В бложик к постикам!</a></li>
        </ol>
    </div>
</article>
{% endblock articles %}

{% block footer %}
<footer>Подвальчег.</footer>
{% endblock footer %}
</body>
</html>