{% extends 'blog/template.html' %}
{% block title %} Бложик ;) {% endblock title %}

{% block header %}
    <h1>Самые свежие вчерашние новости!</h1>
{% endblock header %}
{% block articles %}
<div class="row">
    <div class="col-md-4">
        <form action="{% url 'post_list' %}" method="get">
            <label><b>Выберите автора:</b></label>
            <select name="authors_filter">
                <option>Все авторы</option>
                {% for author in authors %}
                    <option>{{ author }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Отфильтровать</button>
        </form>
    </div>
    <div class="col-md-8">
        <form action="{% url 'post_list' %}" method="get">
            <label><b>Архив статей:</b></label>
            <input type="date" name="archive_date_start"
               value="{{ value_date_min }}"
               min="{{ min_date }}" max="{{ max_date }}">
             -
            <input type="date" name="archive_date_stop"
               value="{{ value_date_max }}"
               min="{{ min_date }}" max="{{ max_date }}">
            <button type="submit" class="btn btn-primary">Найти</button>
            {% if archive_date_start %}
                {% if not posts %}
                    <br /><br />
                    <p><i>К сожалению, в указанный вами период c {{ archive_date_start }} по
                        {{ archive_date_stop }}, статей не найдено. Попробуйте указать другие даты.</i></p>
                {% endif %}
                <a href="{% url 'post_list' %}">Вернуться к списку статей</a>
            {% endif %}
        </form>
    </div>
</div>
<div class="row">
    {% for post in posts %}
        <div class="col-md-3 posts">
            <hr />
            <p>Дата публикации: {{ post.published_date }}</p>
            <h2><a href="{% url 'post' %}?id={{ post.pk }}">{{ post.title }}</a></h2>
            <label>Автор: {{ post.author }}</label>
            <p>{{ post.text|linebreaksbr|truncatechars:200 }}</p>
            <a href="{% url 'post' %}?id={{ post.pk }}">Читать полностью...</a>
        </div>
    {% endfor %}
    <hr />
</div>
{% endblock articles %}