{% extends 'blog/template.html' %}

{% block header %}
{{ block.super }}

    <h1> {{ selected_post.title }}</h1>
    <hr />

{% endblock header %}

{% block articles %}
    <div class="post">
        <p>Дата публикации: {{ selected_post.published_date }}</p>
        <label>Автор: {{ selected_post.author }}</label>
        <hr />
        <p>{{ selected_post.text|linebreaksbr }}</p>
        <hr /><br />
        <a href="{% url 'post_list' %}">Вернуться к списку статей.</a>
    </div>
    <div class="comments">
        {% if not comments %}
            <span>Комментариев к этой статье ещё нет. Будьте первым ;)</span>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                {% if request.user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <label>Что вы об этом думаете, {{ request.user }}?<br />{{ new_comment.text }}</label><br />
                        <input type="submit" value="Отправить комментарий">
                    </form>
                {% else %}
                    <div class="need_login">
                        <span>
                            Только зарегистрированные пользователи могут оставлять комментарии.<br />
                            Пожалуйста, <a href="{% url 'login' %}">авторизуйетесь</a>
                                или пройдите <a href="{% url 'registration' %}">регистрацию</a>. Это не долго ;)
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if comments %}
            {% for comment in comments %}
                <p> Комментарий от {{ comment.author }}:<br />
                <br />
                Оставлен: {{ comment.created_date }}<br />
                <br />
                {{ comment.text }} </p>
            {% endfor %}
        {% endif %}
    </div>
    <br /><br /><hr />
    <a href="{% url 'post_list' %}">Вернуться к списку статей.</a>
{% endblock articles %}