{% extends 'blog/template.html' %}

{% block header %}

    <h1> {{ selected_post.title }}</h1>
    <hr />

{% endblock header %}

{% block articles %}
    <div class="post">
        <p>Дата публикации: {{ selected_post.published_date }}</p>
        <label>Автор: {{ selected_post.author }}</label>
        <hr />
        <p>{{ selected_post.text|linebreaksbr }}</p>
        <hr />
    </div>
    <div class="comments">
        {% if not comments %}
            <p>Комментариев к этой статье ещё нет. Будьте первым ;)</p>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <form method="post">
                    {% csrf_token %}
                    <label>Что вы об этом думаете?<br />{{ new_comment.text }}</label><br />
                    <input type="submit" value="Отправить комментарий">
                </form>
            </div>
        </div>
        {% if comments %}
            {% for comment in comments %}
                <p> Комментарий от {{ comment.author }}:<br />
                <br />
                Оставлен: {{ comment.created_date }}<br />
                <br />
                {{ comment.text }} </p>
            {% endfor %}
        {% endif %}
    </div>
    <br /><br /><hr />
    <a href="{% url 'post_list' %}">Вернуться к списку статей.</a>
{% endblock articles %}