{% extends 'blog/template.html' %}
{% block title %} Бложик ;) {% endblock title %}

{% block header %}
    <h1>Самые свежие вчерашние новости!</h1>
{% endblock header %}
{% block articles %}
<div class="row">
    <div class="col-md-12">
        <form action="{% url 'post_list' %}" method="get">
            <label><b>Выберите автора:</b></label>
            <select name="authors_filter">
                <option>Все авторы</option>
                {% for author in authors %}
                    <option>{{ author }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Отфильтровать">
        </form>
    </div>
</div>
<div class="row">
    {% for post in posts %}
        <div class="col-md-4" style="background-color: #fcc2e6">
            <hr />
            <p>Дата публикации: {{ post.published_date }}</p>
            <h2><a href="{% url 'post' %}?id={{ post.pk }}">{{ post.title }}</a></h2>
            <label>Автор: {{ post.author }}</label>
            <p>{{ post.text|linebreaksbr|truncatechars:200 }}</p>
            <a href="{% url 'post' %}?id={{ post.pk }}">Читать полностью...</a>
        </div>
    {% endfor %}
    <hr />
</div>
{% endblock articles %}