{% extends 'blog/template.html' %}

{% block header %}
    <h1>Регистрация на сайте:</h1>
{% block user %}
    <form method="post">
        {% csrf_token %}
        {% for field in reg_form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: blue"><b>{{ error }}</b></p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock user %}
{% endblock header %}