{% extends 'blog/template.html' %}

{% block header %}
    <h1>Регистрация на сайте:</h1>
{% endblock header %}
{% block user %}
    <form method="post">
        {% csrf_token %}
<!--        <label>Имя пользователя: </label>-->
<!--        {{ reg_form.username }}-->
<!--        <label>E-mail: </label>-->
<!--        {{ reg_form.EmailField }}-->
<!--        <label>Ваше имя:</label>-->
<!--        {{ reg_form.firstname }}-->
<!--        <label>Фамилия:</label>-->
<!--        {{ reg_form.secondname }}-->
<!--        <label>Введите пароль:</label>-->
<!--        {{ reg_form.password1 }}-->
<!--        <label>Подтвердите пароль: </label>-->
<!--        {{ reg_form.password2 }}-->
        {{ reg_form.as_p }}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock user %}
