/Lection4/Example_store.py
.gitignore
.idea/.gitignore
.idea/Stormnet.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/
venv/
Lection4/Example_store.py
/.gitignore
/Lection4/Test.py
*products.txt
*.sqlite3
Lection6/Quadratic/__pycache__/
Lection9/Dj_project/blog/__pycache__/
Lection9/Dj_project/blog/migrations/__pycache__/
Lection9/Dj_project/newsite/__pycache__/

Lection9/Dj_project/__init__.py
Lection9/Dj_project/__pycache__/
Lection9/__init__.py
Lection9/__pycache__/
