h1  {
    color: red;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

body {
    padding-left: 15px;
    margin-top: 15px;
    background: pink;
    color: green;
}

footer {
    border: 5px dashed #20bcd5;
    padding: 20px;
    margin-top: 20%;
    text-align: center;
    font-size: 50px;
}

.rightpic {
float: right; /* Выравнивание по правому краю */
/* margin: 10 10 10px 10px; /* Отступы вокруг картинки */
/* height: 100%;
width: 100%; */
}